<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
    <h1>
        Welcome to {{title}}!
    </h1>
    <span style="display: block">{{ title }} app is running!</span>
</div>
<h2>Here we will see on how to load components dynamically : </h2>

<ul>
    <li>
        <button (click)="loadlazy1component()"> Load Component 1 Lazily</button> <br>
    </li>
    <li>
        <button (click)="loadlazy2component()"> Load Component 2 Lazily</button>
    </li>
</ul>